/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.search-results {
  margin: auto;
}

.navbar {
  font-size: 32px;
}

.navbar-link {
  margin-right: 3%;
  font-size: 26px;
}

.navbar-brand {
  margin-left: 14px;
  max-width: 46px;
  max-hieght: 46px;
}



@media (min-width: 576px) {
.search-results {
  width: 400px;
   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-results {
    width: 670px;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-results {
    width: 870px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .search-results {
    width: 900px;
  }
 }
